@model Navigator.Models.LoyaltyRewardsViewModel

@{
    ViewData["Title"] = "Store Rewards";
}
<div class="d-flex justify-content-center">
    <table class=".table">
        <tbody>
            <tr>
                <th>Icon</th>
                <th>Item</th>
                <th>LP Cost</th>
                <th>ISK Cost</th>
                <th>AK Cost</th>
                <th>Quantity</th>
            </tr>
            @foreach (var offer in Model.Offers)
            {
                var offerImage = $"https://image.eveonline.com/types/{offer.WrappedModel.TypeId}/icon";

            <tr>
                <td><img src="@offerImage" /> </td>
                <td>@offer.ItemName</td>
                <td>@offer.WrappedModel.LpCost</td>
                <td>@offer.WrappedModel.IskCost</td>
                <td>@offer.WrappedModel.AkCost</td>
                <td>@offer.WrappedModel.Quantity</td>
            </tr>
            }
        </tbody>
    </table>
</div>