@model List<Navigator.Controllers.AssetSafetySystemViewModel>


@{
    ViewBag.Title = "Asset Safety";
    Layout = "_Layout";
}
<table class="table table-hover">
    <thead>
    <tr >
        <th>Region</th>
        <th>System</th>
        <th>Serviced</th>
        <th>Distance</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var system in Model)
    {
        var regionDealFinderUrl = $"https://eve-marketdata.com/deal_finder3?margin=0.2&region_name={system.RegionName}";
        var systemDealFinderUrl = $"https://eve-marketdata.com/deal_finder3?margin=0.2&solarsystem_name={system.SolarSystemName}";
        var regionMarketView = $"https://evemarketer.com/regions/{system.RegionId}";
        var dotlanRegion = $"http://evemaps.dotlan.net/map/{system.RegionName}";
        var dotlanSystem = dotlanRegion + $"/{system.SolarSystemName}";

        <tr>
            <td><a href="@dotlanRegion">@system.RegionName</a></td>
            <td><a href="@dotlanSystem">@system.SolarSystemName</a></td>
            <td>@system.SystemsServiced</td>
            <td>@system.NearestSystem</td>
            <td>
                <button id="btnTradeFinderGroup" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Trade Finder
                </button>
                <div class="dropdown-menu" aria-labelledby="btnTradeFinderGroup">
                    <a class="dropdown-item" href="@regionDealFinderUrl">@system.RegionName</a>
                    <a class="dropdown-item" href="@systemDealFinderUrl">@system.SolarSystemName</a>
                    <a class="dropdown-item" href="@regionMarketView">View @system.RegionName Market</a>
                </div>
            </td>
        </tr>
    }
    </tbody>
</table>